# Python tutorial #1

본 페이지는 한림대학교 710231(딥러닝이해및응용) 수업에서 학생들의 Python 학습을 위해 만든 페이지입니다.

## Hello World !

In [1]:
print('Hello World')
print('Hello World {} + {} = {}'.format(2, 3, 2+3))

Hello World
Hello World 2 + 3 = 5

## Basic data types

In [5]:
x = 3.1
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"

<class 'float'>
3.1

In [6]:
print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"

4.1
2.1
6.2
9.610000000000001

## For statement

range: 영역을 설정

In [7]:
A = range(5)
print(A)

range(0, 5)

* A의 세번째 요소를 출력

In [8]:
print(A[2])

2

In [13]:
for i in range(5):
    print(('{} hello').format(i))
    #print(i, A[i])
    #print('{} ----- {}'.format(i, A[i]))

0 hello
1 hello
2 hello
3 hello
4 hello

#### Excersise

구구단을 작성하시오 (아래 코드를 수정하시오)

In [20]:
for i in range(9):
    print('{} x {} = {}'.format(2, i+1, 2*(i+1)))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [32]:
for j in range(8):
    for i in range(9):    
        print('{} x {} = {}'.format(j+2, i+1, (j+2)*(i+1)))
    print('-----------------')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
-----------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
-----------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
-----------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
-----------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
-----------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
-----------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
-----------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
-----------------

## Operators

In [33]:
print((1, 2, 3) * 3)
print([1, 2, 3] * 3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

## Containers
Python includes several built-in container types: lists, dictionaries, sets, and tuples.

### Tuple
A simple immutable (변경할 수 없는, 불변의) ordered sequence of items

In [40]:
# -*- coding: utf-8 -*-
# creating a tuple
months = ('January','February','March','April','May','June',
'July','August','September','October','November','December')

print(months[0])
print("index of 7 ==> " , months[7])
print("index of 7 ==> {}".format(months[7]))

January
index of 7 ==>  August
index of 7 ==> August

In [44]:
for i in range(12):
    #print('{} -- {}'.format(i, months[i]))
    print('{}'.format(months[i]))

January
February
March
April
May
June
July
August
September
October
November
December

하나씩 출력하기

In [10]:
# iterate through them:
for item in months:
    print (item)

January
February
March
April
May
June
July
August
September
October
November
December

In [11]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2])
print(t[2][1])
print(t[:2]) # index 포함 X
print(t[2:]) # index 포함 O

print(t[-1]) #끝에서 첫번째
print(t[-2]) #끝에서 두번째

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
((2, 3, 4, 5), 'hello')
hello
(2, 3, 4, 5)

### List
Mutable (바꿀수 있는, 변경가능한) ordered sequence of items of mixed types

In [1]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)

['hallym', 1, 3.141572, 'hello']

In [2]:
li[1] = 45
print(li)

['hallym', 45, 3.141572, 'hello']

In [3]:
li.append('September')
print(li)

['hallym', 45, 3.141572, 'hello', 'September']

* 비어있는 리스트 만들기

In [6]:
v = []

* 비어있는 리스트에 값 추가하기

In [7]:
for i in range(3):
    temperature = 18+i*0.1
    print(temperature)

18.0
18.1
18.2

In [9]:
v=[]
for i in range(3):
    temperature = 18+i*0.1
    #print(temperature)
    v.append(temperature)
    print(v)

[18.0]
[18.0, 18.1]
[18.0, 18.1, 18.2]

### + 연산자

In [15]:
print((1, 2, 3) + (4, 5, 6))
print([1, 2, 3] + [4, 5, 6])
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

### * 연산자
The * operator produces a new tuple, list, or string that "repeats" the original content.

In [11]:
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'float'>
2.5 3.5 5.0 6.25

### Enumeration (열거하기)

In [12]:
print(v)

[18.0, 18.1, 18.2]

In [13]:
len(v)

3

In [17]:
for i, val in enumerate(v):
    print('{} ---> {}'.format(i, val))

0 ---> 0
1 ---> 5
2 ---> 10

In [15]:
for i in range(3):
    val = v[i]
    print('{} ---> {}'.format(i, val))

0 ---> 18.0
1 ---> 18.1
2 ---> 18.2

In [16]:
v2 = [ ':', '?', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'V', 'W', 'Y', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']
print(v2)

[':', '?', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'V', 'W', 'Y', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [17]:
for i, val in enumerate(v2):
    print('{} ---> {}'.format(i, val))

0 ---> :
1 ---> ?
2 ---> A
3 ---> B
4 ---> C
5 ---> D
6 ---> E
7 ---> F
8 ---> G
9 ---> V
10 ---> W
11 ---> Y
12 ---> 0
13 ---> 1
14 ---> 2
15 ---> 3
16 ---> 4
17 ---> 5
18 ---> 6
19 ---> 7
20 ---> 8
21 ---> 9